<div class="article">
    <div class="article-image">
        <img src="assets/images/chaman0.jpg"/>
    </div>

    <h1 class="title">Meet Chamano The Dev</h1>
    <div class="meta-info">
        Jack Of All Trades
    </div>
    <p>“And as for me, in the first year of Darius the Mede, I stood up to confirm and strengthen him. “And now I will show you the truth. Behold, three more kings shall arise in Persia, and a fourth shall be far richer than all of them. And when he has become strong through his riches, he shall stir up all against the kingdom of Greece. Then a mighty king shall arise, who shall rule with great dominion and do as he wills. And as soon as he has arisen, his kingdom shall be broken and divided toward the four winds of heaven, but not to his posterity, nor according to the authority with which he ruled, for his kingdom shall be plucked up and go to others besides these. “Then the king of the south shall be strong, but one of his princes shall be stronger than he and shall rule, and his authority shall be a great authority. ...
    </p>
</div>
